<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <style>
      .actions{
        display: flex;
        gap: 1rem;
      }

      .actions a {
         color: rgb(75, 75, 219);
         font-weight: 600;
        
      }

        .actions button {
         color: rgb(75, 75, 219);
         border: none;
         color: red;
        }

         .actions button,a:hover{
          cursor: pointer;
         }

    </style>

    <main class="container py-3">
     <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Tracking Number</th>
          <th>From</th>
          <th>To</th>
          <th>Date Sent</th>
          <th>Estimated Received Day</th>
          <th>Services</th>
          <th>Terms</th>
          <th>Packaging</th>
          <th>Total Package</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% trackings.forEach(function(tracking) { %>
          <tr>
            <td><%= tracking.trackingNumber %></td>
            <td><%= tracking.from %></td>
            <td><%= tracking.to %></td>
            <td><%= tracking.dateSend %></td>
            <td><%= tracking.estimateReceivedDay %></td>
            <td><%= tracking.services %></td>
            <td><%= tracking.terms %></td>
            <td><%= tracking.packaging %></td>
            <td><%= tracking.totalPackage %></td>
            <td>
              <div class="actions">
                <a href="/tracking/items/<%= tracking.id %>" >Items</a>
                <a href="/tracking/details/<%= tracking.id %>" >Edit</a>
                <button type="submit"  onclick="deleteItem('<%= tracking.id %>')">Delete</button>
              </div>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <a href="/tracking/create" class="btn btn-success mt-3">Create New Tracking</a>
    </main>
    <%- include('../partials/footer') %> <%- include('../partials/scroll-up') %> <%- include('../partials/scripts') %>

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

       <script>
          function deleteItem(itemId) {
              if (confirm('Are you sure you want to delete this item?')) {
                  $.ajax({
                      url: `/tracking/delete/${itemId}`,
                      method: 'DELETE',
                      success: function(response) {
                          alert('Item deleted successfully');
                          location.reload();
                      },
                      error: function(xhr, status, error) {
                          alert('Error deleting item: ' + error);
                      }
                  });
              }
          }
        </script>
  </body>
</html>
